<nav class="c-mobile-nav">

    <div class="u-padding-bottom u-content-center">
        <button name="mobieNavOperator" data="close" class="c-mobile-nav__close c-btn c-btn--ghost c-btn--primary c-btn--square">
            <span class="c-ic-close"></span>
        </button>
    </div>

    <ul class="c-mobile-nav__list">
        <li class="c-mobile-nav__item">
            <a class="c-mobile-nav__link {% if p.title == page.title %}c-mobile-nav__link--active{% endif %}" name="home" href="/">Home</a>
        </li>
        {% assign class = "header|c-mobile-nav__item|c-mobile-nav__link" | split: "|" %}
        {% include link-list.html %}
    </ul>

</nav>
