<nav class="c-page-nav">

    {% if page.backlink %}
    <div class="o-wrapper c-page-nav__backlink u-hidden@until-mobile">
        <a href="{{page.backlink}}" class="c-btn c-btn--secondary c-btn--ghost">Zurück<span class="u-hidden@until-tablet"> zur Hauptseite</span></a>
    </div>
    {% endif %}

    <div class="o-wrapper u-content-right">

        <ul class="c-page-nav__list u-hidden@until-tablet">
            {% assign class = "header|c-page-nav__item|c-page-nav__link" | split: "|" %}
            {% include link-list.html %}
        </ul>

    </div>

    {% comment %}
    <div class="o-wrapper u-hidden@from-tablet u-content-right">
        <button class="c-page-nav__hamburger" name="mobieNavOperator" data="open"></button>
    </div>
    {% endcomment %}

</nav>
