/* ==========================================================================
   #SECTION
   ========================================================================== */

// .c-section {

// }

    .c-section__header {
        @include font(secondary);
        font-size: 120%;
        font-weight: 300;
    }

        .c-section__image {
            overflow: hidden;

            > * {
                position: relative;
            }

            img {
                width: 100%;
                z-index: 10;
            }
        }

            .c-section__image-inner {
                background-color: rgba($color-primary, .3);
                margin-top: -5%;
                padding-top: 5%;
                z-index: 11;
            }

        .c-section__title {
            background-color: $color-primary;
            color: $color-white;
            padding: $unit / 2;
            text-align: center;

            * {
                line-height: 1;
                margin-bottom: 0;
            }

            hr {
                border-color: $color-white;
                margin: $unit / 8 auto $unit / 4;
                width: 30%;
            }
        }

    // .c-section__body {

    // }
