/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

$nav-height: $unit * 1.5;

.c-page-nav {
    @include font(secondary);
    height: $nav-height;
}

    .c-page-nav__list {
        list-style: none;
        margin: 0;
    }

        .c-page-nav__item {
            display: inline-block;
        }

            /* Nav Links */
            .c-page-nav__link {
                display: block;
                height: $nav-height;
                line-height: $nav-height;
                padding: 0 $unit / 4;
                text-decoration: none;

                &--active {
                    color: $color-hover;
                }
            }




        /* Hamburger Button */
        $hamburger-lines: 4px;

        .c-page-nav__hamburger {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            display: inline-block;
            height: $nav-height;
            padding: $unit / 4;
            position: relative;
            vertical-align: middle;
            width: $nav-height;

            &::after {
                background: $color-body;
                box-shadow: 0 ($unit / 2 - $hamburger-lines / 2) 0 $color-body, 0 ($unit - $hamburger-lines) 0 $color-body;
                content: '';
                display: block;
                height: $hamburger-lines;
                margin-top: -50%;
                transition: $global-transition;
            }

            &:hover,
            &:focus,
            &:active {
                &::after {
                    background: $color-hover;
                    box-shadow: 0 ($unit / 2 - $hamburger-lines / 2) 0 $color-hover, 0 ($unit - $hamburger-lines) 0 $color-hover;
                }
            }
        }
