/* ==========================================================================
   #OWL
   ========================================================================== */

.u-owl {

    > * {
        margin-bottom: 0;
    }

    > *+* {
        margin-top: $unit;
    }

    &--small > *+* {
        margin-top: $unit / 2;
    }

    &--off > *+* {
        margin-top: 0;
    }

}
