/* ==========================================================================
   #ORIENTATIONS
   ========================================================================== */

/**
 * orientate text and other content
 *
 *   <div class="u-content-center"></div>
 */

$orientations: (
    left: '-left',
    right: '-right',
    center: '-center'
);

@each $orientation, $orientations-namespace in $orientations {
    .u-content#{$orientations-namespace} {
        text-align: $orientation !important;
    }
}

.u-content-center\@mobile {
    @include mq($until: tablet) {
        text-align: center !important;
    }
}

/**
 * Container need a height
 */
.u-content-vcenter {
    position: relative;

    > * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}


.u-box-center {
    margin-left: auto;
    margin-right: auto;
}

.u-box-left { margin-right: auto; }
.u-box-right { margin-left: auto; }

.u-float-right {
    float: right;
}
