---
layout: default
---

<!-- Section Process -->
<section id="process" class="c-section">


    <header class="c-section__header c-section__header--primary">

        <div class="c-section__image">
            <div class="o-crop o-crop--3:1 c-section__image-container">
                <img src="/assets/img/section-header-landing.jpg" alt="">
            </div>
            <div class="c-section__image-inner"></div>
        </div>

        <div class="c-section__title-container">

            <h1 class="c-section__title">{{page.title}}</h1>
            <hr class="c-section__hr">
            <p class="c-section__subtitle">{{page.subtitle}}</p>

        </div>

    </header>


    <div id="process-body" class="o-wrapper c-section__body u-owl u-owl--large">

        <div class="o-layout o-layout--large o-layout--reverse">
            <div class="o-layout__item u-1/2@tablet">

                <h2>Process</h2>
                <p>In prozessbasierten Geschäftsbereichen ist die Ressourcenplanung das A&amp;O um den Prozess stabil am Laufen zu halten.</p>
                <p>Viele Einflüsse sind dabei kontrollier-, steuer- und planbar. Andere jedoch nicht. Um diese nicht planbaren Einflüssen möchten wir uns für Sie kümmern.</p>
                <p>Standard- aber vor allem persoanlintensive Prozesse sind unsere Spezialität, die wir mit Leidenschaft und Effizienz übernehmen und hochperfomant und mit höchster Qualität erbringen.</p>
                <p>In unseren spezialisierten Teams vereinen wir Prozesskompetenz mit professionellem Personalmanagement. Durch die Übernahme eines oder mehrerer Prozesse gewinnen Sie kostbare Zeit und Ressourcen, die Sie in Ihre Kernaufgaben / Kernprozesse investieren können. Das bedeutet für Sie:</p>
                <ul>
                    <li>sichere Prozesse</li>
                    <li>hohe Redundanz</li>
                    <li>planbare Kosten</li>
                    <li>mehr Zeit für Ihre Kernprozesse</li>
                </ul>

            </div>
            <div class="o-layout__item u-1/2@tablet u-padding-top-huge">

                <div class="o-block o-block--flush u-4/5 u-box-right">
                    <div class="o-block__img u-overflow-hidden">
                        <a href="/prozesse-energiewirtschaft/">
                            <img class="u-ani u-ani--zoom u-ani--hover" src="/assets/img/process-energy.jpg" alt="">
                        </a>
                    </div>
                    <div class="o-block__body">
                        <div class="o-flag o-flag--reverse u-padding u-bg-gray-1">
                            <div class="o-flag__img">
                                <a href="/prozesse-energiewirtschaft/" class="c-btn c-btn--ghost c-btn--secondary">Details</a>
                            </div>
                            <div class="o-flag__body">
                                Prozesse in der Energiewirtschaft
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% comment %}
        <div data-has-ani class="o-layout o-layout--large u-owl u-owl--bottom">
            <div data-ani-start class="o-layout__item u-1/3@tablet u-ani u-ani--fade-in u-ani--move-up">
                <div class="u-overflow-hidden">
                    <a href="/prozesse-energiewirtschaft/">
                        <img class="u-ani u-ani--zoom u-ani--hover" src="/assets/img/process-energy.jpg" alt="">
                    </a>
                </div>
                <div class="o-flag o-flag--reverse u-padding u-bg-gray-1">
                    <div class="o-flag__img">
                        <a href="/prozesse-energiewirtschaft/" class="c-btn c-btn--ghost c-btn--secondary">Details</a>
                    </div>
                    <div class="o-flag__body">
                        Prozesse in der Energiewirtschaft
                    </div>
                </div>
            </div>
            <div data-ani-start class="o-layout__item u-1/3@tablet u-ani u-ani--fade-in u-ani--move-up u-ani--delay1">
                <div class="u-overflow-hidden">
                    <a href="/prozesse-office/">
                        <img class="u-ani u-ani--zoom u-ani--hover" src="/assets/img/process-office.jpg" alt="">
                    </a>
                </div>
                <div class="o-flag o-flag--reverse u-padding u-bg-gray-1">
                    <div class="o-flag__img">
                        <a href="/prozesse-office/" class="c-btn c-btn--ghost c-btn--secondary">Details</a>
                    </div>
                    <div class="o-flag__body">
                        Office-Abwicklung
                    </div>
                </div>
            </div>
            <div data-ani-start class="o-layout__item u-1/3@tablet u-ani u-ani--fade-in u-ani--move-up u-ani--delay2">
                <div class="u-overflow-hidden">
                    <a href="/prozesse-consulting/">
                        <img class="u-ani u-ani--zoom u-ani--hover" src="/assets/img/process-consulting.jpg" alt="">
                    </a>
                </div>
                <div class="o-flag o-flag--reverse u-padding u-bg-gray-1">
                    <div class="o-flag__img">
                        <a href="/prozesse-consulting/" class="c-btn c-btn--ghost c-btn--secondary">Details</a>
                    </div>
                    <div class="o-flag__body">
                        Consulting
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

    </div>

</section>


<!-- Section Team -->
<section id="team" data-has-ani class="c-section">

    <header class="c-section__header c-section__header--secondary">

        <div class="c-section__title-container">

            <h1 data-ani-start class="c-section__title u-ani u-ani--fade-in u-ani--move-right">Ihre Ansprechpartner</h1>
            <hr class="c-section__hr">
            <p data-ani-start class="c-section__subtitle u-ani u-ani--fade-in u-ani--move-left">Für Prozesse und Energiewirtschaft</p>

        </div>

    </header>

    <div class="o-wrapper">

        <ul class="o-layout o-layout--large u-content-center">

            <li data-ani-start class="o-layout__item u-1/2@mobile u-1/3@tablet u-owl u-owl--off u-ani u-ani--fade-in u-ani--move-up">

                <div class="u-overflow-hidden u-margin-bottom">
                    <img src="/assets/img/avatar-1.svg" alt="">
                </div>

                <h3 class="u-h5 u-h5--primary">Benjamin Grau</h3>
                <p class="u-font-small">Tel.: +49 2421 38633 25</p>
                <p class="u-font-small"><noscript data-defuscate data-name="benjamin.grau" data-domain="profecto-consulting.com"></noscript></p>

            </li>
            <li data-ani-start  class="o-layout__item u-1/2@mobile u-1/3@tablet u-owl u-owl--off u-ani u-ani--fade-in u-ani--move-up u-ani--delay1">

                <div class="u-overflow-hidden u-margin-bottom">
                    <img src="/assets/img/avatar-2.svg" alt="">
                </div>

                <h3 class="u-h5 u-h5--primary">Markus Gülpen</h3>
                <p class="u-font-small">Tel.: +49 2421 38633 31</p>
                <p class="u-font-small"><noscript data-defuscate data-name="markus.guelpen" data-domain="profecto-consulting.com"></noscript></p>

            </li>

        </ul>

    </div>

</section>


<!-- Section Standorte -->
<section id="standorte" data-has-ani class="c-section u-margin-bottom-none">

    <header class="c-section__header c-section__header--secondary u-margin-bottom-none">

        <div class="c-section__title-container">

            <h1 data-ani-start class="c-section__title u-ani u-ani--fade-in u-ani--move-right">Standorte</h1>
            <hr class="c-section__hr">
            <p data-ani-start class="c-section__subtitle u-ani u-ani--fade-in u-ani--move-left">In Ihrer Nähe</p>

        </div>

    </header>

    <div class="o-layout">
        <div data-ani-start class="o-layout__item u-1/2@tablet u-ani u-ani--fade-in u-ani--move-right">

            <div id="googleMap" class="c-map"></div>

        </div>
        <div data-ani-start class="o-layout__item c-map-aside u-1/2@tablet u-ani u-ani--fade-in u-ani--move-left">

            <ul class="o-list-bare u-1/1 u-margin-top">
                <li class="o-box u-owl u-owl--off">
                    <h3 class="u-h5 u-h5--primary">Standort Berlin-Schönefeld</h3>
                    <p>Zeppelinstraße 3</p>
                    <p>12529 Berlin-Schönefeld</p>
                </li>
                <li class="o-box u-owl u-owl--off">
                    <h3 class="u-h5 u-h5--primary">Standort Düren</h3>
                    <p>Neue Jülicher Straße 60</p>
                    <p>52353 Düren</p>
                </li>
                <li class="o-box u-owl u-owl--off">
                    <h3 class="u-h5 u-h5--primary">Standort Mundelsheim</h3>
                    <p>Seelhofenstraße 76</p>
                    <p>74395 Mundelsheim</p>
                </li>
            </ul>

        </div>
    </div>

</section>


<!-- Section Kontakte -->
<section id="kontakt" data-has-ani class="c-section">

    <header class="c-section__header c-section__header--secondary">

        <div class="c-section__title-container">

            <h1 data-ani-start class="c-section__title u-ani u-ani--fade-in u-ani--move-right">Kontakt</h1>
            <hr class="c-section__hr">
            <p data-ani-start class="c-section__subtitle u-ani u-ani--fade-in u-ani--move-left">Wir sind für Sie da</p>

        </div>

    </header>

    <div class="o-wrapper">

        <div class="o-layout o-layout--large">

            <div data-ani-start class="o-layout__item u-1/2@tablet u-ani u-ani--fade-in u-ani--move-right">

                <form id="contactform" class="c-form" action="https://formspree.io/office@profecto-consulting.com" method="post">
                    <input type="hidden" name="_next" value="http://profecto-consulting.de/danke/" />
                    <input type="hidden" name="_subject" value="Neue Nachricht vom Kontaktformular" />
                    <input type="text" name="_gotcha" class="u-hidden-visually" />

                    <ul class="o-layout">
                        <li class="o-layout__item">
                            <label for="name">Name <sup>*</sup></label>
                            <input type="text" id="name" name="name" required>
                        </li>
                        <li class="o-layout__item u-1/2@tablet">
                            <label for="email">E-Mail <sup>*</sup></label>
                            <input type="email" class="u-1/1" id="email" name="_replyto" autocomplete="home email" required>
                        </li>
                        <li class="o-layout__item u-1/2@tablet">
                            <label for="phone">Telefon (optional)</label>
                            <input type="tel" id="phone" name="home-phone" autocomplete="home tel">
                        </li>
                        <li class="o-layout__item">
                            <label for="message">Ihre Nachricht</label>
                            <textarea id="message" name="message"></textarea>
                        </li>
                        <li class="o-layout__item u-2/3@tablet">
                            Mit <sup>*</sup> markierte felder sind Pflichtfelder.
                        </li>
                        <li class="o-layout__item u-1/3@tablet u-content-right">
                            <button type="submit" class="c-btn c-btn--primary c-btn--ghost">Senden</button>
                        </li>
                    </ul>

                </form>

            </div>
            <div data-ani-start class="o-layout__item u-1/2@tablet u-ani u-ani--fade-in u-ani--move-left">

                <h3>Profecto Consulting GmbH</h3>
                <p><span class="ic-phone"></span> Telefon +49 30 213 000 38 0</p>
                <p><span class="ic-fax"></span> Telefax +49 30 213 000 38 16</p>
                <p><span class="ic-mail"></span> <noscript data-defuscate data-name="office" data-domain="profecto-consulting.com"><em>Diese E-Mail-Adresse ist durch JavaScript geschützt</em></noscript></p>

            </div>

        </div>

    </div>

</section>
