---
layout: default
---

<section class="c-section">

    <header class="c-section__header c-section__header--primary">

        <div class="c-section__image">
            {% if page.header-img %}
                <img width="100%" src="/assets/img/{{page.header-img}}" alt="">
            {% else %}
                <img width="100%" src="/assets/img/section-header-1.jpg" alt="">
            {% endif %}
            <div class="c-section__image-inner"></div>
        </div>

        <div class="c-section__title-container">

            <h1 class="c-section__title">{{page.title | upcase}}</h1>
            <hr class="c-section__hr">
            <p class="c-section__subtitle">{{page.subtitle | upcase}}</p>

        </div>

    </header>


    <div class="o-wrapper c-section__body">

        {{ content }}

    </div>

</section>

